// Type
$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;
$raleway: 'Raleway', sans-serif;

// Colors
$slate: #294661;
$ron-burgundy: #b71c1c;

// Font Sizing
$font-x-small: 10px;
$font-small: 12px;
$font-base: 13px;
$font-med: 20px;
$font-large: 30px;

// Spacing Blocks
$spacing-x-small: 6px;
$spacing-small: 9px;
$spacing-med: 20px;
$spacing-large: 40px;
$spacing-x-large: 60px;
$spacing-xx-large: 90px;

// Widths
$website-max-width: 1000px;

// Beziers
$fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
